
h1 {
    max-width: 800px;
    margin: 0 auto;
}

form {
    max-width: 800px;
    margin: 0 auto;
}

.names,
.surnames,
.email,
.password {
    display: flex;
    flex-direction: column;
}

.names label,
.surnames label,
.email label,
.password label,
.address label,
.checkbox-container label {
    max-width: 800px;
}

.checkbox-container,
.button {
    margin-top: 10px;
}

.genders {
    display: flex;
    align-items: center;
}

.gender-text {
    margin-right: 10px;
}

.gender-options {
    display: flex;
    flex-direction: column;
    margin-top: 42px;
}

.gender-option {
    margin-bottom: 10px;
}

.password-hint {
    font-size: 12px;
    color: #808080;
    margin-top: 1px;
}

.address {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.address label,
.address select,
.address input {
    margin-right: 10px;
}

.address select {
    flex: 2;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 5px;
}